<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://keaukraine.github.io/bootstrap-fs-modal/dist/css/fs-modal.min.css">
    <script src="https://keaukraine.github.io/bootstrap-fs-modal/dist/js/fs-modal.min.js "></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">


    <title>Home</title>

</head>
<body>
    <div id="app">
        <nav class="navbar navbar-dark bg-dark sticky-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img class="logo" src="images/logo-nationsounds.png"></img>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item active">
                            <a class="nav-link h6 visible-xs" href="#" data-toggle="collapse" data-target=".navbar-collapse"><i class="fas fa-home"> </i> HOME </a>
                        <li class="nav-item active">
                            <div class="dropdown-divider"></div>
                            <a class="text-white h6 visible-xs" data-toggle="collapse" data-target=".navbar-collapse"><i class="fas fa-headphones-alt"></i> PROGRAMMATION<br></a>
                            <a class="text-muted visible-xs" @click="getAffichageArtistes()" data-toggle="collapse" data-target=".navbar-collapse">PAR ARTISTE<br></a>
                            <a class="text-muted visible-xs" @click="getAffichageScenes()" data-toggle="collapse" data-target=".navbar-collapse">PAR SCENE<br></a>
                            <a class="text-muted visible-xs" @click="getAffichageJours()" data-toggle="collapse" data-target=".navbar-collapse">PAR JOUR<br></a>
                            <a class="text-muted visible-xs" data-toggle="collapse" data-target=".navbar-collapse">MES FAVORIS<br></a>
                        <li class="nav-item active">
                            <div class="dropdown-divider"></div>
                            <a class="text-white h6 visible-xs" data-toggle="collapse" data-target=".navbar-collapse"><i class="fas fa-map-marker-alt"></i> CARTE INTERACTIVE<br></a>
                            <a class="text-muted visible-xs" data-toggle="collapse" data-target=".navbar-collapse">ITINÉRAIRE<br></a>
                            <a class="text-muted visible-xs" data-toggle="collapse" data-target=".navbar-collapse">RESTAURATION<br></a>
                            <a class="text-muted visible-xs" data-toggle="collapse" data-target=".navbar-collapse">BAR<br></a>
                            <a class="text-muted visible-xs" data-toggle="collapse" data-target=".navbar-collapse">WC<br></a>
                            <a class="text-muted visible-xs" data-toggle="collapse" data-target=".navbar-collapse">MERCHANDISING</a>
                        <li class="nav-item active">
                            <div class="dropdown-divider"></div>
                            <a class="text-white h6 visible-xs" data-toggle="collapse" data-target=".navbar-collapse"><i class="fab fa-facebook-square"></i> RÉSEAUX SOCIAUX</a>
                        <li class="nav-item active">
                            <div class="dropdown-divider"></div>
                            <a class="text-white h6 visible-xs" data-toggle="collapse" data-target=".navbar-collapse"><i class="fas fa-info-circle"></i> INFOS PRATIQUES</a>
                        <li class="nav-item active">
                            <div class="dropdown-divider"></div>
                            <a class="text-white h6 visible-xs" data-toggle="collapse" data-target=".navbar-collapse"><i class="fas fa-hands-helping"></i> PARTENAIRES</a>
                        <li class="nav-item active">
                            <div class="dropdown-divider"></div>
                            <a class="text-white h6 visible-xs" data-toggle="collapse" data-target=".navbar-collapse"><i class="fas fa-comment-alt"></i> FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container-fluid message-important">
            <p class="texte-message-important-alerte"><i class="fas fa-exclamation-circle"></i> ALERTE</p>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active"><p class="texte-message-important" alt="First slide"> Attention canicule : pensez à vous hydrater<p></div>
                    <div class="carousel-item"><p class="texte-message-important" alt="First slide">Le festival ouvre ses portes dans 10 minutes<p></div>
                    <div class="carousel-item"><p class="texte-message-important" alt="First slide">Changement d'horaire : Calvin Harris 10h Scène 3<p></div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!--<div class="container-fluid artistes"><img :src="artiste.acf.image"></div>-->
        <!--<div class="container-fluid billeterie"><a href="https://www.fnacspectacles.com/"class="texte-billeterie"> BILLETERIE </a></div>-->
        <!--<div class="container-fluid nouvelles-generales"><p class="texte-nouvelles-generales"> NEWS</p></div>-->
        <!--<div class="container-fluid maps"><p class="texte-maps"> CARTE INTERACTIVE</p></div>-->

        <div class="container-fluid">
            <div v-if="affichage.listeArtistes" id="artistes"> <!-- A LIER DANS LE MENU -->
                <div class="card-columns">
                    <div class="card" v-for="artiste in artistes">

                        <!-- Rend toute la card cliquable-->
                        <div data-toggle="modal" :data-target="'#modal' + artiste.id">
                            <div class="card-body">
                                <div class="border-artiste">
                                    <img :src="artiste.acf.image" class="card-img-top" alt="...">
                                    <h5 class="card-title text-center" v-html="artiste.acf.titre"></h5>
                                </div>
                                <div class="card-footer text-center bg-transparent border-success-orange">{{artiste.acf.date_fr}} à {{artiste.acf.horaires}}, scène n°{{artiste.acf.scene}}</div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" :data-target="'#modal' + artiste.id">En apprendre plus</button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade modal-fullscreen" :id="'modal' + artiste.id" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content modal-fullscreen">
                                        <div class="modal-header-artiste">
                                            <h5 v-if="artiste.render" class="modal-title" id="exampleModalLabel" v-html="artiste.scf.title"></h5>
                                            <button type="button" class="close btn btn-outline-dark" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <!-- Contenu de la modal-->
                                            <img :src="artiste.acf.image" class="card-img-top" alt="...">
                                            <div class="texte-nom"><i class="fas fa-calendar"></i> {{artiste.acf.date_fr}} <br> <i class="fas fa-clock"></i> {{artiste.acf.horaires}} <br> <i class="fas fa-map-pin"></i> Scène {{artiste.acf.scene}}</div>
                                            <div class="dropdown-divider"></div>
                                            <div class="texte-style"> {{artiste.acf.style}}</div>
                                            <div class="dropdown-divider"></div>
                                            <div class="texte-artiste" v-html="artiste.acf.contenu_fr"></div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="affichage.listeScenes">
                <h1 class="text-center"> LISTE DES SCÈNES </h1>
                <div class="card-columns">
                    <div class="card" v-for="scene in scenes">
                        <!-- Rend toute la card cliquable-->
                        <div data-toggle="modal" :data-target="'#modal' + scene.id">
                            <div class="card-body">
                                <div class="border-artiste">
                                    <img :src="scene.acf.image_de_la_scene.url" class="card-img-top" alt="...">
                                    <h5 class="card-title text-center" v-html="scene.acf.nom_scene"></h5>
                                </div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" :data-target="'#modal' + scene.id">En apprendre plus</button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade modal-fullscreen" :id="'modal' + scene.id" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabelscene" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content modal-fullscreen">
                                        <div class="modal-header-article">
                                            <h5 class="modal-title" id="exampleModalLabelscene" v-html="scene.acf.nom_scene"></h5><!--v-if="artiste.render" -->
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <!-- Contenu de la modal-->
                                            <!--<img :src="artiste.acf.image_de_la_scene" class="card-img-top" alt="...">-->
                                            <div class="dropdown-divider"></div>
                                            <div v-for="artiste in getArtisteScene(scene.acf.numero_de_la_scene)" class="texte-scene"><strong>{{artiste.acf.titre}} </strong><i class="fas fa-angle-double-right" style="color:#FFAC00"></i> {{artiste.acf.date_fr}}<i style="color:#FFAC00" class="fas fa-angle-double-right"></i> {{artiste.acf.horaires}}</div>
                                            <div class="dropdown-divider"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="affichage.listeJours">
                <h1 class="text-center"> TRI PAR JOUR </h1>
                <button type="button" class="btn btn-primary d-inline">Vendredi</button>
                <button type="button" class="btn btn-primary d-inline">Samedi</button>
                <button type="button" class="btn btn-primary d-inline">Dimanche</button>

            </div>
        <!-- Container-->
        </div>
    <!-- #app -->
    </div>
</body>
</html>

<script>

    var artiste = new Vue({
        el: '#app',
        data:{
            artistes: [],
            scenes: [],

            // Permet de ne rien afficher tant que le script ne s'est pas chargé
            afficher: false,
            artisteModal: {render: false},
            affichage:{
                listeArtistes: false,
                listeScenes: false,
                listeJours: false
            }
        },

        // Lance le script dès le chargement de la page
        mounted: function () {
            this.recuperedArtistes();
            this.recuperedScenes();

        },

        // Methods pour afficher le contenu de la modal en rapport avec la card cliquée
        methods: {

            console: function() {
                console.log('test')
            },

            getArtisteScene: function(id){

                var artistesScene = this.artistes.filter(function (a) {
                    if(a.acf.scene === id){
                        console.log(a);

                        return a;
                    }
                });

                return artistesScene;
            },

            getAffichageArtistes: function(){

                for(b in this.affichage){
                    this.affichage[b] = false
                }

                this.affichage.listeArtistes = true;

            },

            getAffichageScenes: function(){

                for(b in this.affichage){
                    this.affichage[b] = false
                }

                this.affichage.listeScenes = true;
            },

            getAffichageJours: function(){

                for(b in this.affichage){
                    this.affichage[b] = false
                }

                this.affichage.listeJours = true;
            },


            recuperedArtistes: function(){
                vm = this;

                // Règle les problèmes de CORS
                var myHeaders = new Headers();
                var myInit = { method: 'GET',
                    headers: myHeaders,
                    //mode: 'no-cors',
                    cache: 'default'
                };

                fetch('https://mspr.projets-ecole.ovh/wp-json/wp/v2/artiste/?per_page=100', myInit).then(function(response) {
                    response.json().then(function(response){
                        console.log(response);
                        vm.artistes = response;
                        vm.afficher = true;
                    })
                })
            },

            recuperedScenes: function(){
                vm = this;

                // Règle les problèmes de CORS
                var myHeaders = new Headers();
                var myInit = { method: 'GET',
                    headers: myHeaders,
                    //mode: 'no-cors',
                    cache: 'default'
                };

                fetch('https://mspr.projets-ecole.ovh/wp-json/wp/v2/scenes', myInit).then(function(response) {
                    response.json().then(function(response){
                        console.log(response);
                        vm.scenes = response;
                        vm.afficher = true;
                    })
                })
            }


        }
    });

</script>
