.logo{
  width: 75px;
  display: flex;
  justify-content: center;
}

.message-important{
  background-color: #A83535;
}

.artistes{
}

.billeterie{
  background-color: #23C7C8;
  text-align: center;
}

.nouvelles-generales{
  background-color: #FFAD00;
}

.maps{
}

a.text-muted{
  cursor: pointer;
}

a.text-muted:hover{
  cursor: pointer;
  text-decoration: underline;
}
.texte-message-important{
  text-align: center;
  color: white;
  font-size: 20px;
  vertical-align: middle;
  padding-left: 50px;
  padding-right: 50px;
  font-variant: small-caps;
}

.texte-message-important-alerte{
  text-align: center;
  color: white;
  font-size: 20px;
  vertical-align: middle;
  padding-top: 10px;
  font-variant: small-caps;
}

.texte-billeterie{
  text-align: center;
  color: white;
  font-size: 30px;
  vertical-align: middle;
  padding-top: 10px;
  text-decoration: none;
}
a.texte-billeterie{
  text-decoration: none;
}

a.texte-billeterie:hover{
  text-decoration: none;
  color: rgb(57, 60, 66);
}

.texte-nouvelles-generales{
  text-align: center;
  color: white;
  font-size: 30px;
  vertical-align: middle;
  padding-top: 0px;
}
.texte-maps{
  text-align: center;
  color: white;
  font-size: 30px;
  vertical-align: middle;
  padding-top: 0px;
}

.afficher {
   width:500px;
}
.divmenu {
   display:none;
   background: #ddd
}
.afficher:target.divmenu {
   display:block
}
.masquer {
   display:none;
}
.afficher:target .masquer {
   display:inline;
}
.afficher:target .afficher {
   display:none;
}

.btn.btn-primary{
  background-color: #FFAC00;
  border: none;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px rgb(57, 60, 66);
  display:block;
  margin: auto;
  font-size: 12px;
}

.border-success-orange{
  border-color: #FFAC00;
}

.card-title.text-center{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  background-color: rgb(57, 60, 66);
  color: white;

}

.card-footer.text-center {
  text-transform: uppercase;
}

.border-artiste{
  border: 20px;
  border-color: rgb(57, 60, 66);
}

.card-img-top{
  padding: 8px;
  background-color: rgb(57, 60, 66);
}

.texte-artiste{
  padding: 20px 10px;
  text-align: justify;
  font-size: 12px;
}

.texte-nom{
  background-color: rgb(57, 60, 66);
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: white;
  line-height: 200%;
}

.texte-style{
  color: #FFAC00;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
}
